@import "tailwindcss";

:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

@font-face {
    font-family: 'kumbhSans';
    src: url('../assets/fonts/Kumbh_Sans/KumbhSans-VariableFont_YOPQ\,wght.woff2') format("woff2"),
         url('../assets/fonts/Kumbh_Sans/KumbhSans-VariableFont_YOPQ\,wght.ttf') format("ttf");
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'robotoSlab';
    src: url('../assets/fonts/Roboto_Slab/RobotoSlab-VariableFont_wght.woff2') format("woff2"),
         url('../assets/fonts/Roboto_Slab/RobotoSlab-VariableFont_wght.ttf') format("ttf");
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'spaceMono';
    src: url('../assets/fonts/Space_Mono/SpaceMono-Bold.woff2') format("woff2"),
         url('../assets/fonts/Space_Mono/SpaceMono-Bold.ttf') format("ttf");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'spaceMono';
    src: url('../assets/fonts/Space_Mono/SpaceMono-Regular.woff2') format("woff2"),
         url('../assets/fonts/Space_Mono/SpaceMono-Regular.ttf') format("ttf");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@theme {
    --color-blue-950: hsl(233, 39%, 13%);
    --color-blue-900: hsl(234, 39%, 14%);
    --color-blue-850: hsl(235, 35%, 18%);
    --color-blue-100: hsl(227, 100%, 92%);
    --color-blue-50: hsl(229, 52%, 96%);
    --color-grey-400: hsl(233, 13%, 76%);
    --color-grey-200: hsl(0, 3%, 89%);
    --color-cyan-300: hsl(182, 91%, 71%);
    --color-red-400: hsl(0, 91%, 71%);
    --color-purple-400: hsl(284, 89%, 74%);
    --color-gradient-1: hsl(235, 32%, 27%);
    --color-gradient-2: hsl(234, 50%, 11%);

    --text-mobile-1: 5rem;
    --text-mobile-2: .875rem;
    --text-mobile-3: .75rem;

    --text-desk-1: 6.25rem;
    --text-desk-2: 1rem;
    --text-desk-3: .875rem;
    --text-title: 1.5rem;
    --text-setting-1: 1.75rem;
    --text-setting-2: 1rem;
    --text-setting-3: .813rem;
    --text-setting-4: .75rem;
    --text-setting-5: .688rem;
    --text-time-1: clamp(5rem, 3.8042rem + 5.102vw, 6.25rem);
    --text-time-2: clamp(5rem, 3.2063rem + 7.6531vw, 6.875rem);

    --spacing-clampClock: clamp(18.75rem, 12.1899rem + 27.9898vw, 25.625rem);
    --spacing-clampClock-i: clamp(16.7375rem, 10.8662rem + 25.051vw, 22.875rem);
    --spacing-clampSetting: clamp(20.4375rem, 7.7023rem + 54.3367vw, 33.75rem);
    --spacing-setting-mobile: 34.313rem;
    --spacing-setting-tablet: 29rem;
    --spacing-header-set: clamp(17.5rem, 6.2596rem + 47.9592vw, 29.25rem);
    --spacing-mobile-w: 18.75rem;
    --spacing-105: 6.563rem;
    
    --font-spaceMono: "spaceMono", sans-serif;
    --font-robotoSlab: "robotoSlab", sans-serif;
    --font-kumbhSans: "kumbhSans", sans-serif;
}

body {
    margin: 0;
    min-block-size: 100vh;
    display: grid;
    gap: 3rem;
    align-items: center;
    justify-items: center;
    @apply  bg-linear-to-br from-blue-900 from-10%  to-blue-850 to-50% 
}

.settings__title {
    @apply text-blue-850 text-setting-5 text-center uppercase tracking-[4.23px] mb-4 md:tracking-[5px] md:text-setting-3 md:mb-0;
}

.wrapper__clock {
    /* -webkit-box-shadow: 12px 13px 22px 16px hsl(233, 39%, 13%, 0.72), -5px -5px 30px .5px rgba(255, 255, 255, 0.05); */
    /* box-shadow: 12px 15px 28px 26px hsl(233, 39%, 13%, 0.92), -11px -11px 48px .5px rgba(255, 255, 255, 0.1); */
    box-shadow: 29px 29px 40px 12px hsl(233, 39%, 13%, 0.92), -11px -11px 48px .5px rgba(255, 255, 255, 0.1);
}

.wrapper__options {
    box-shadow: 3px -22px 50px 2px rgba(255,255,255,0.02);
}
